:root {
    --font-bitmap: 'Kubasta';
    --font-sz: 400;
    --font-color: #0D1217;
    --indent: 25px;

    --letter-spc: 0.5px;
    --line-hgt: 30px;
}

/* SIDEBAR */
.st-emotion-cache-6qob1r {

}
