@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

/* BUTTON */
.st-emotion-cache-c0ynp0 {
    display: none;
}

/* IMAGE ICONS */
.st-emotion-cache-1r6slb0 {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icon-container {
    font-family: 'New Tegomin', serif;
    font-size: 28px;
    box-sizing: border-box;
    border: 3px solid #8B4513;
    padding: 10px; /* Adjusted padding for more space */
    margin: 10px 2px;
    border-radius: 10px;
    width: auto;
    background-color: #F5F5DC;
    background-image: linear-gradient(145deg, #F5F5DC, #F0E68C);
    display: flex;
    align-items: center; /* Align items vertically */
    flex-wrap: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 10px; /* Adds space between the icon and the text */
    text-align: center;
}

.icons {
    height: 50px; /* Adjust the size of your icons */
    width: auto;
    transition: transform 0.2s; /* Smooth transition for interaction */
}

.icons:hover {
    transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

.icon-text {
    font-family: 'New Tegomin', serif !important;
    font-size: 25px !important;
    text-indent: 0px !important;
    color: #333; /* Dark color for better readability */
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFF; /* Retro text shadow effect */
}


.st-emotion-cache-p5msec {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 16px; /* Slightly larger to mimic older UIs */
    padding: 0.75rem 1rem;
    list-style-type: none;
    font-family: 'New Tegomin', serif; /* Using Roboto Mono for a retro-modern look */
    background-color: #f0f0f0; /* Muted background color for a classic feel */
    color: #333; /* Darker text for contrast */
    border: 2px solid #8B4513; /* Adding a solid border for a vintage look */
    border-radius: 4px; /* Slightly rounded corners */
    box-shadow: 0 2px 2px rgba(0,0,0,0.2); /* Adding a subtle shadow for depth */
    margin: 10px 2px;
}

.st-emotion-cache-1h9usn1 {
    margin-bottom: 10px; /* Adjusted for better spacing */
    margin-top: 10px; /* Adjusted for better spacing */
    width: 100%;
    border-style: solid;
    border-width: 2px; /* Increased width for a more pronounced border */
    border-color: #8B4513; /* Changed to a darker, vintage-inspired color */
    border-radius: 4px; /* Adjusted radius for a slightly more retro feel */
    background-color: #f5f5dc; /* Optional: adding a retro background color */
    box-shadow: 0 2px 2px rgba(0,0,0,0.2); /* Optional: adding a shadow for depth */
}

/* EXPANDER */
.st-emotion-cache-l9bjmx {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* EXPANDER TEXT */
.st-emotion-cache-l9bjmx p,
.st-emotion-cache-10ijpeg p,
.st-emotion-cache-6vrlx3 p {
    font-family: 'New Tegomin', serif !important;
    font-size: 25px !important;
    padding: 0.5rem;
}

/* SIDEBAR BUTTON */
.st-emotion-cache-iiif1v {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; /* Enhanced text weight for readability */
    margin: 0px 0.125rem;
    width: auto;
    user-select: none;
    font-size: 16px; /* Adjusted for a balanced appearance */
    line-height: 1.2;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.5rem; /* Providing enough space for interaction */
    border: 3px solid #8B4513; /* A rich saddle brown for the border, adding to the vintage look */
    border-radius: 0; /* Keeping elements squarely shaped for a retro feel */
    box-shadow: 2px 2px 0px #3C280D; /* A darker shadow for depth, using a deep brown */
    text-shadow: 1px 1px #F5F5DC; /* A subtle, light shadow for the text, enhancing legibility */
    background-image: linear-gradient(145deg, rgba(244, 197, 66, 0.6) 10%, rgba(202, 152, 34, 0.8) 90%);
    color: #332c1a;
}

.main-images {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.continue {
    display: block;
    width: 80%;
    margin-bottom: 20px;
    box-sizing: border-box;
}