@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --font-cursive: "Dancing Script", cursive;
}

/* SIDEBAR */
.st-emotion-cache-6qob1r {
    font-family: var(--font-cursive);
    background-image: url("https://iili.io/J1bXRVV.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #a67b5b;
    color: black;
    border: 2px solid #c0c0c0;
    text-shadow: 1px 1px 0 #000;
    box-shadow: inset 0 0 10px #000000;
    padding: 20px;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

/* ANY SIDEBAR LINK */
.eczjsme6 {
    font-family: var(--font-cursive);
    color: black;
    padding: 8px 20px;
    margin: 15px 0;
}

.eczjsme6:active {
    transform: translateY(2px); /* Gives the impression of pressing down */
    text-shadow: 1px 1px 3px #503812; /* Deeper shadow to simulate being pressed */
    background-color: #e8e8e8;
}

.eczjsme6:hover {
    background-color: rgba(255, 248, 220, 0.5); /* Lighter, more transparent on hover */
    text-shadow: 2px 2px 1px #503812; /* More pronounced shadow on hover */
}
